@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ======================================================================================= */
body {
  margin: 0;
  background: hsl(var(--background-primary));
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* hide scrollbar but allow scroll */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE + Edge */
  scrollbar-width: none; /* Firefox */
}

/* ======================================================================================= */
@layer base {
  :root {
    --background-primary: 0 0% 100%;
    --background-secondary: 239, 94%, 19%;
    --background-danger: 0, 97.07%, 40.2%;
    --foreground-primary: 239, 94%, 19%;
    --foreground-secondary: 0 0% 100%;
    --foreground-danger: 0, 97.07%, 40.2%;

    --button-background-primary: 0 0% 100%;
    --button-background-secondary: 239, 94%, 19%;
    --button-background-warning: 31.96, 100%, 39.02%;
    --button-background-danger: 0, 97.07%, 40.2%;
    --button-foreground-primary: 239, 94%, 19%;
    --button-foreground-secondary: 0 0% 100%;
    --button-foreground-danger: 0, 97.07%, 40.2%;

    --border-primary: 0 0% 100%;
    --border-secondary: 239, 94%, 19%;
    --border-danger: 0, 97.07%, 40.2%;
  }

  .dark {
  }
}